#profile-container .nav-tabs button[role='tab'].active {
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

#profile-container .nav-tabs button[role='tab']:not(.active) {
    color: var(--grey-color-xxl);
}

#profile-container .nav-tabs button[role='tab']:hover:not(.active) {
    border-color: var(--primary-color);
}

#profile-container .tab-content {
    padding: 1.5rem 0;
}

#profile-container .tab-content .home-tab h6 {
    font-size: 17px;
}

.following-count, .followers-count {
    color: var(--green-color);
    font-weight: 600;
}