#login-container {
    text-align: left;
    height: 100vh;
}

#login-container .logo {
    height: 25px;
}

#login-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
}

#login-container .logo + span {
    margin-left: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: 800;
}

#login-container a+h3 {
    font-weight: 700;
    margin-top: 25px;
}

#login-container .google-auth-btn {
    border: 2px solid #DDD;
    color: #000;
    transition: 0.4s;
}

#login-container .google-auth-btn:hover {
    background-color: #DDD;
}

#login-container .google-auth-btn:active {
    opacity: 60%;
}

#login-container .google-auth-btn img {
    height: 1.4rem;
}

#login-container .divider hr {
    width: 100%;
    border: 0;
    height: 0.1rem;
    background-color: #adadad;
}

#login-container .divider strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #A0A0A0;
    padding: 0 8px;
    font-size: 0.8rem;
    font-weight: 800;
}

#login-container form .form-label {
    margin-bottom: 0.3rem;
}

#login-container form .form-control {
    border: 2px solid #DDD;
    margin-bottom: 1.2rem;
}

#login-container form .form-control:focus {
    border: 2px solid #00000095;
}

#login-container form .form-stack input[type='checkbox']:focus, #login-container form .form-control:focus, #login-container .google-auth-btn:focus, #login-container button[type='submit'] {
    outline: none;
    box-shadow: none;
}

#login-container form .form-stack input[type='checkbox'] {
    border-color: #DDD;
}

#login-container form .form-stack input[type='checkbox']:checked {
    background-color: #000;
    border-color: #000;
}

#login-container form + p {
    flex-wrap: wrap;
}

#login-container form .form-stack a {
    color: #585858;
    transition: 0.3s;
}

#login-container form+p, #login-container form .form-stack {
    font-size: 0.9rem;
}

#login-container form+p a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
    transition: 0.3s;
}

#login-container form+p a:hover, #login-container form .form-stack a:hover {
    opacity: 65%;
}



/* picture */

#login-container .right-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px 0px;
}

@media (max-width: 1200px) {
    #login-container .form-stack {
        text-align: left;
    }

    #login-container .form-stack a {
        margin: 5px 0 0 !important;
    }
}

@media (max-width: 900px) {
    #login-container a+h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 850px) {
    #login-container .right-col {
        display: none;
    }

    #login-container .left-col {
        width: 100%;
    }

    #login-container .form-stack a {
        margin-left: auto !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 400px) {
    #login-container .form-stack a {
        margin: 5px 0 0 !important;
    }
}

@media (max-width: 300px) {
    #login-container .left-col {
        padding: 0 1rem !important;
    }
}