:root {
    --primary-color: #FFF;
    --secondary-color: #000;
    --faint-black: #00000083;
    --grey-color-xxl: #626262;
    --grey-color-xl: #9EA0A0;
    --grey-color: #F1F1F1;
    --red-color: #E73F32;
}

body {
    font-family: 'Lato', sans-serif !important;
}