.compose-container {
    padding: 0 3rem 3rem;
    margin-top: 3rem;
}

.compose-container .preview-btn {
    border-radius: 50%;
}

.editor {
    border: 1px solid var(--grey-color-xl);
    border-radius: 5px;
}

.editor-form {
    padding: 25px;
}

.editor-form, .featured-image-container {
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--grey-color);
    color: var(--grey-color-xxl);
}

.editor-form .post-title:focus {
    box-shadow: none;
    border-color: var(--grey-color-xxl) !important;
}

.editor-form textarea {
    resize: none;
    border-radius: 0 0 5px 5px;
}

.editor-form textarea, .editor-form input {
    border: 2px solid var(--grey-color-xl) !important;
}

.ql-editor {
    min-height: 50vh;
}

.ql-toolbar {
    border-bottom: 1px solid var(--grey-color-xl) !important;
    background-color: var(--grey-color);
    padding: 6px !important;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.ql-container {
   font-size: 1rem !important;
   color: var(--secondary-color);
}

.ql-formats {
    background-color: var(--primary-color);
    display: flex !important;
    align-items: center;
    flex-grow: 0;
    margin: 0 !important;
}

.ql-picker-label {
    display: flex !important;
    align-items: center !important;
}

.ql-formats > * {
    height: 2rem !important;
}

.ql-formats > * > svg {
    height: 1.1rem !important;
}

.ql-formats > *:first-child {
    border: 2px solid var(--grey-color-xl) !important;
    border-radius: 4px 0 0 4px;
}

.ql-formats > *:last-child,
.ql-formats > .ql-background {
    border: 2px solid var(--grey-color-xl) !important;
    border-left: 0 !important;
    border-radius: 0 4px 4px 0;
}

.ql-formats > *:not(:first-child, :last-child) {
    border: 2px solid var(--grey-color-xl) !important;
    border-left: 0 !important;
}

.featured-image-container label[for="file"] {
    border-style: none;
    background-color: var(--grey-color);
    border-radius: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    height: 20rem;
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
}

.featured-image-container label[for="file"] div {
    flex-direction: column;
    align-items: center;
}

.featured-image-container label[for="file"] > svg {
    filter: invert(76%) sepia(6%) saturate(29%) hue-rotate(131deg) brightness(85%) contrast(84%);
}

.featured-image-container label[for="file"] > div {
    flex-grow: 0;
}

.featured-image-container .featured-image {
    height: 20rem;
    width: 100%;
    object-fit: contain;
}

@media (width <= 1200px) {
    .compose-container .compose-row {
        flex-direction: column-reverse;
    }
}

@media (width <= 500px) {
    .compose-container {
        padding: 3rem 1rem;
    }

    .compose-container .ql-editor {
        min-height: 30vh;
    }

    .compose-container .featured-image-container, .compose-container .editor-form {
        padding: 1rem!important;
    }
}