.editor {
    padding: 0 50px;
    position: relative;
    margin-top: 5;
}

.ql-toolbar {
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--grey-color-xl) !important;
}

.editor .ql-container {
    border-radius: 0 0 10px 10px;
    width: 100%;
    border: 2px solid var(--grey-color-xl) !important;
    min-height: 80vh;
}