.recentPosts-container {
    padding: 50px 100px;
}

.recentPosts-container h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 12px;
}

.recentPosts-container .column {
    padding: 0 12px;
    margin-top: 25px;
}

.card-img-top {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.card-title {
    margin: 30px 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body {
    padding: 0;
    font-weight: 500;
    width: 95%;
}

.more-btn {
    background-color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 8px;
}

.card-text {
    margin-top: 15px;
    font-weight: 600;
    font-size: 0.9rem;
}

.card-text img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    .recentPosts-container {
        padding: 50px 3rem;
    }
}

@media (max-width: 704px) {
    .recentPosts-container {
        padding: 50px 1rem;
    }
}

@media (max-width: 645px) {
    .recentPosts-container {
        padding: 50px 3rem;
    }

    .recentPosts-container .row > *{
        margin-bottom: 30px;
    }

    .recentPosts-container .card-img-top {
        height: 20rem;
    }

}

@media (max-width: 500px) {
    .recentPosts-container {
        padding: 50px 1rem;
    }

    .recentPosts-container .card-img-top {
        height: 15rem !important;
    }
}

@media (max-width: 425px) {
    .recentPosts-container {
        padding: 50px 1rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-body {
        font-size: 1rem;
    }
}
