#post-section {
    padding: 0 20%;
}

#post-header .post-title {
    font-size: 3rem;
    font-weight: 900;
}

@media (width <= 1200px) {
    #post-section {
        padding: 0 10%;
    }
}

@media (width <= 880px) {
    #post-header .post-title {
        font-size: 2.5rem;
    }

    #post-section {
        padding: 0 5%;
    }
}