#top-section {
    padding: 25px 100px;
}

#top-section h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

#top-section p {
    color: var(--grey-color-xxl);
}

@media (width <= 992px) {
    #top-section {
        padding: 25px 5%;
        margin-top: 3rem;
    }
}

@media (width <= 576px) {
    #top-section h1 {
        font-weight: 900;
        font-size: 3rem;
    }
}