#top-section {
    padding: 0 100px;
    margin-top: 3rem;
}

#top-section h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

#top-section p {
    color: var(--grey-color-xxl);
}

@media (width <= 992px) {
    #top-section {
        padding: 0 5%;
        margin-top: calc(10vh + 1rem);
    }
}

@media (width <= 576px) {
    #top-section h1 {
        font-weight: 900;
        font-size: 3rem;
    }
}