#card-section .page-item a {
    border: none;
    color: var(--secondary-color);
}

#card-section .page-item a:focus {
    box-shadow: none;
    background-color: transparent;
}

#card-section .page-item a:hover {
    background-color: var(--grey-color);
}

#card-section .page-item a:active {
    background-color: var(--grey-color-xl);
}

#card-section .page-item .page-link {
    border-radius: 0;
}

#card-section .page-item.active .page-link {
    background-color: var(--secondary-color);
    border: 0;
}