#card-section {
    padding: 0 100px;
}

#card-section .card-row {
    gap: 0rem 5%;
}

#card-section .tab-group {
    border-left: 2px solid var(--grey-color-xl);
    padding: 10px 20px;
    margin: 0;
    display: flex;
    width: max-content;
    flex-direction: column;
    gap: 0.5rem;
}

#card-section .tab {
    list-style: none;
    color: var(--grey-color-xl);
    cursor: pointer;
    transition: 0.3s;
}

#card-section .tab:hover {
    list-style: none;
    color: var(--grey-color-xxl);
    cursor: pointer;
}

#card-section .tab.active {
    color: var(--secondary-color);
    font-weight: 600;
}

#card-section .tab-btn {
    display: none !important;
}

#card-section .top-card-image {
    width: 60%;
    height: 352px;
    margin-right: 25px;
    object-fit: cover;
}

#card-section .card-body {
    color: var(--grey-color-xxl);
}

@media (width <= 992px) {
    #card-section .tab-container {
        position: fixed;
        transform: translate(100%, -50%);
        top: 50%;
        right: 0;
        width: fit-content;
        padding: 0 !important;
        background-color: var(--primary-color);
        box-shadow: 0px 0px 1px var(--grey-color-xl);
        border: 1px solid var(--grey-color);
        border-radius: 10px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #card-section .tab-group {
        border-color: transparent;
    }

    #card-section .tab-btn {
        display: block !important;
        transform: translate(0, -50%);
        top: 50%;
        right: 99%;
        border-radius: 10px 0 0 10px;
        padding: 0.5rem 0;
        background-color: var(--primary-color);
        border-color: var(--grey-color);
        border-right: 1px solid var(--primary-color);
    }


}