#card-section {
    padding: 0 100px;
}

#card-section .card-row {
    gap: 0rem 5%;
}

#card-section .tab-group {
    border-left: 2px solid var(--grey-color-xl);
    padding: 15px 20px;
    margin: 0;
    display: flex;
    width: max-content;
    flex-direction: column;
    gap: 0.5rem;
}

#card-section .tab {
    list-style: none;
    color: var(--grey-color-xl);
    cursor: pointer;
    transition: 0.3s;
}

#card-section .tab:hover {
    list-style: none;
    color: var(--grey-color-xxl);
    cursor: pointer;
}

#card-section .tab.active {
    color: var(--secondary-color);
    font-weight: 600;
}

#card-section .top-card {
    flex-direction: row;
}

#card-section .card-image {
    border-radius: 0;
    height: 282px;
    object-fit: cover;
}

#card-section .top-card-image {
    width: 60% !important;
    height: 352px;
    margin-right: 25px;
}

#card-section .top-card-image {
    object-fit: cover;
    border-radius: 0;
    width: 100%;
}

#card-section .card-body {
    color: var(--grey-color-xxl);
}

#card-section .side-pane {
    background-color: var(--primary-color);
    padding: 0;
    width: fit-content;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%,-50%);
    z-index: 100;
    border-radius: 10px 0 0 10px;
}

#card-section .side-pane .pane-btn {
    top: 50%;
    right: 95%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border: 0;
    padding: 15px 0;
    border-radius: 10px 0 0 10px;
}

@media (width < 1200px) {
    #card-section .top-card-image {
        height: 282px;
    } 
    #card-section .card-image {
        height: 200px;
    }
}

@media (width <= 992px) {
    
    #card-section {
        padding: 0 5%;
    }

    #card-section .tab-container {
        padding: 0 !important;
    }

    #card-section .tab-group {
        border: 0;
    }

    #card-section .blog-row {
        width: 100%;
    }

    #card-section .top-card-image {
        height: 300px;
    } 

    #card-section .card-image {
        height: 250px;
    }
}

@media (width <= 778px) {
    #card-section .card-row, #card-section .top-card {
        flex-direction: column;
    }
    
    #card-section .card-image, #card-section .top-card-image {
        width: 100% !important;
        height: 382px;
        margin: 0;
    }
}

@media (width <= 576px) {
    #card-section .card-image, #card-section .top-card-image {
        height: 300px;
    }
}

@media (width <= 476px) {
    #card-section .card-image, #card-section .top-card-image {
        height: 250px;
    }
}

@media (width <= 376px) {
    #card-section .card-image, #card-section .top-card-image {
        height: 180px;
    }
}