.more-post {
    width: 49% !important;
}

.more-post-btn {
    transition: 0.3s;
    font-weight: 600;
}
    .more-post-btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    opacity: 0.65;
}