.nav-bar {
    background-color: #FFF !important;
    height: 10vh;
}

.nav-bar .logo {
    height: 25px;
}

.links, .nav-bar .white-btn, .nav-bar .white-btn+button {
    font-size: 1rem;
    font-weight: 700;
}

.links, #dropdown-navigation {
    color: #000;
}

.links:hover, #dropdown-navigation:hover {
    color: rgba(0, 0, 0, 0.608);
}

.nav-bar .white-btn {
    background-color: #FFF;
    border-color: #FFF;
}

.nav-bar .logo-label {
    font-weight: 900;
    font-size: 1.2rem;
}

button.navbar-toggler {
    position: relative;
    padding: 15px;
    outline: none !important;
    box-shadow: none !important;
}

.toggler::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 3px;
    width: 35px;
    background-color: #000;
}

.toggler {
    background-color: #000;
    position: absolute;
    display: block;
    left: 0;
    height: 3px;
    width: 35px;
}

.toggler::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    height: 3px;
    width: 35px;
    background-color: #000;
}

.offcanvas-header .btn-close {
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: 0.3s ease-in-out;
}

.offcanvas-header .btn-close:hover {
    border: 2px solid #E73F32;
    background: url("../../assets/close.svg") center/1em auto no-repeat;
}

.offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-item .dropdown-menu {
    position: relative;
}
