#footer-section {
    padding: 0 50px;
}

.footer h1 {
    font-weight: 600;
}

.footer h5 {
    font-weight: 500;
}

.footer .logo {
    height: 24px;
    width: 24px;
}

.footer, .footer button {
    background-color: #000;
    padding: 8px 20px;
    border-radius: 8px;
}

.footer button, .footer .copy-right span {
    font-weight: 600;
}

.footer .copy-right p {
    font-size: 0.9rem;
}

.footer .badge {
    font-weight: 500;
    border: 1px solid #626262;
    background-color: #313131 !important;
    margin-left: 5px;
}

.footer ul {
    padding: 0;
}

/* .footer ul>:first-child {
    font-weight: 700;
} */

.footer ul li {
    list-style: none;
    margin: 8px 0 0;
}

.footer a {
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}

.footer ul li a:hover {
    color: #dddddde6;
}

.footer-link-container {
    margin-top: 40px;
    padding: 0 20%;
    flex-wrap: wrap;
}

.footer {
    border-radius: 35px;
    padding: 70px 50px 40px;
}

.footer-accordion .accordion-item {
    background-color: #000;
    border: none;
}

.footer-accordion .accordion-header button{
    background-color: #000;
    color: #FFF;
    box-shadow: none;
}

.accordion-button::after, .accordion-button:not(.collapsed):after{
    background-image: url("../../assets/chevron-down.svg");
}

@media (width <= 1200px) {
    .footer-link-container {
        padding: 0 12%;
    }
}

@media (width <= 778px) {
    #footer-section {
        padding: 0;
    }

    .footer {
        margin: 0 !important;
        border-radius: 35px 35px 0 0;
        padding: 70px 0 40px;
    }

    .footer-link-container {
        padding: 0 3rem;
    }

    .footer h1 {
        font-size: 1.8rem;
    }
    
    .footer h5 {
        font-size: 1rem;
    }

}

@media (width <= 500px) {
    .copy-right-text {
        margin-left: 0 !important;
        margin-top: 1.2rem;
    }

    .footer h1 {
        font-size: 1.5rem;
    }

    .footer h5 {
        font-size: 0.9rem;
        margin-top: 0.5rem !important;
    }

    .footer h1, .footer h5 {
        padding: 0 10px;
    }
}