#newsletter-container {
    font-family: 'Merriweather', serif;
}

#newsletter-container form {
    background-color: var(--secondary-color);
}

#newsletter-container form .logo-link {
    position: absolute;
    top: 1.5rem;
    left: 50px;
    color: var(--primary-color);
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    z-index: 10;
}

#newsletter-container form .logo-link .logo{
    height: 25px;
    width: 25px;
}

#newsletter-container form input {
    width: clamp(10rem, 50vw, 30rem) !important;
}

#newsletter-container form h1 {
    text-align: center;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(2.8rem, 6vw ,6rem);
    color: var(--primary-color);

}

#newsletter-container form .input-stack {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#newsletter-container form .input-stack button.icon-btn {
    height: fit-content !important;
    width: fit-content !important;
    padding: 10px !important;
}

@media (width <= 500px) {
    #newsletter-container form .logo-link {
        left: 1rem;
    }
}