#recommendation-section {
    padding: 0 20%;
}

@media (width <= 1200px) {
    #recommendation-section {
        padding: 0 10% !important;
    }
}

@media (width <= 880px) {
    #recommendation-section {
        padding: 0 5% !important;
    }
}

@media (width <= 578px) {
    #recommendation-section .card-img-top {
        height: 280px;
   }
}

@media (width <= 350px) {
    #recommendation-section .card-img-top {
        height: 200px;
   }
}