.nav-bar {
    background-color: var(--primary-color) !important;
    height: 10vh;
}

.nav-bar .logo {
    height: 25px;
}

.nav-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.offcanvas-body a button {
    width: 100%;
}

#dropdown-navigation {
    color: var(--secondary-color);
    padding: 6px 12px;
}

.nav-btn .dropdown-toggle.nav-link {
    padding: 0;
}

.links, .white-btn, .white-btn+button {
    font-size: 1rem;
    font-weight: 700;
}

.links {
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.links:hover {
    color: var(--hover-text);
}

.white-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.nav-bar .logo-label {
    font-weight: 900;
    font-size: 1.2rem;
}

.nav-bar button.navbar-toggler {
    position: relative;
    padding: 10px 18px;
    outline: none !important;
    box-shadow: none !important;
}

.nav-bar .toggler::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 4px;
    width: 35px;
    background-color: var(--primary-color);
}

.nav-bar .toggler {
    background-color: var(--primary-color);
    position: absolute;
    display: block;
    left: 0;
    height: 4px;
    width: 35px;
}

.nav-bar .toggler.dark, .nav-bar .toggler.dark::before {
    background-color: var(--secondary-color) !important;
}

.offcanvas-header .btn-close {
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    transition: 0.3s ease-in-out;
}

.offcanvas-header .btn-close:hover {
    border: 2px solid var(--danger);
    background: url("../../assets/close.svg") center/1em auto no-repeat;
}

.offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-item .dropdown-menu {
    position: relative;
}

@media (max-width: 990px) {
    .nav-bar {
        z-index: 100;
        background-color: transparent !important;
        position: absolute;
        top: 0;
        height: 10vh;
        width: 100%;
    }

    .nav-bar.white {
        background-color: var(--primary-color) !important;
    }

    .links:hover {
        background-color: red;
        border-radius: 6px;
    }

    .toggler::before, .toggler {
        background: var(--primary-color);
    }

    .logo-label.white {
        color: var(--primary-color);
    }
}

@media (max-width: 500px) {
    .nav-bar {
        padding: 0 1rem !important;
    }
}
